<!-- Order details Popup -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-full modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          style="font-size: 30px"
        >
          ×
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card" *ngIf="order">
                <div class="p-10" style="border-bottom: solid 2px #000">
                  <div class="row m-0">
                    <div class="col-8 OrderLogo">
                      <img src="images/sell-360.svg" alt="" />
                    </div>
                    <div class="col-4 ord-no">
                      Order # <strong>{{ order.id }}</strong>
                    </div>
                  </div>
                </div>
                <div class="body" style="padding: 15px 20px">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-body">
                        <div class="row OrderInfo">
                          <div class="col-md-9">
                            <span>Dist Name: </span>
                            <strong class="retailer_name">{{
                              order?.distributor_name
                            }}</strong
                            ><br />
                            <span>Phone No: </span>
                            <strong class="retailer_phone">{{
                              order?.distributor_phone
                            }}</strong
                            ><br />
                            <span>Location: </span>
                            <strong class="retailer_location">{{
                              order?.distributor_address
                            }}</strong>
                          </div>

                          <div class="col-md-3 p-0">
                            <span>Status: </span>
                            <strong class="status">
                              {{
                                order?.status ? order?.status : "--"
                              }} </strong
                            ><br />
                            <span>Booking Date: </span>
                            <strong class="booking_date">{{
                              order?.date
                            }}</strong
                            ><br />
                            <span>Employee: </span>
                            <strong class="employee_name">{{
                              order?.employee_name
                            }}</strong>
                          </div>
                        </div>

                        <div class="seprator-block"></div>

                        <div class="Order-Detail-table mt-30">
                          <div class="Order-Detail-table mt-30">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th><strong>Code</strong></th>
                                  <th><strong>Product Name</strong></th>
                                  <th><strong>Qty</strong></th>
                                  <th><strong>T.P</strong></th>
                                  <th><strong>GR Amt</strong></th>
                                  <th><strong>T.O</strong></th>
                                  <th><strong>Dist.Disc%</strong></th>
                                  <th><strong>SPC.Disc%</strong></th>
                                  <th><strong>B.Disc</strong></th>
                                  <th><strong>Tax</strong></th>
                                  <th><strong>Net.Amt</strong></th>
                                </tr>
                              </thead>
                              <tbody class="order_items_body">
                                <tr *ngFor="let item of orderDetial?.content">
                                  <td>{{ item?.item_sku }}</td>
                                  <!--Code -->
                                  <td>{{ item.item_name }}</td>
                                  <!--Product Name -->
                                  <td>{{ item?.booked_total_qty }}</td>
                                  <!--Qty -->
                                  <td>{{ item?.unit_price }}</td>
                                  <!--T.P -->
                                  <td>
                                    {{
                                      item?.booked_total_qty * item?.unit_price
                                    }}
                                  </td>
                                  <!-- GR Amt -->
                                  <td>
                                    {{
                                      item?.scheme_id !== 0
                                        ? item?.booked_total_qty *
                                          ((item?.booked_total_qty *
                                            item?.unit_price) /
                                            item?.scheme_min_quantity +
                                            item?.scheme_quantity_free)
                                        : "0.00"
                                    }}
                                  </td>
                                  <!--T.O -->
                                  <td>
                                    {{
                                      item?.distributor_discount
                                        | number: "1.2-2"
                                    }}
                                  </td>
                                  <!-- DIST.Disc % -->
                                  <td>
                                    {{
                                      item?.special_discount | number: "1.2-2"
                                    }}
                                  </td>
                                  <!--SPC.DIST% -->
                                  <td>
                                    {{
                                      item?.booker_discount *
                                        item?.booked_total_qty
                                    }}
                                  </td>
                                  <!--B.Disc -->
                                  <td>
                                    {{
                                      item?.booked_total_qty *
                                        ((item?.unit_price * item?.tax_amount) /
                                          100)
                                    }}
                                  </td>
                                  <!--Tax -->
                                  <td>
                                    <!-- gross amt - trade offer - trade discount - 
                                      speacial discount - extra discount -->
                                    {{
                                      item?.booked_total_qty *
                                        item?.unit_price -
                                        (item?.scheme_id !== 0
                                          ? item?.booked_total_qty *
                                            ((item?.booked_total_qty *
                                              item?.unit_price) /
                                              scheme_min_quantity +
                                              scheme_quantity_free)
                                          : 0) -
                                        0 -
                                        ((item?.unit_price *
                                          item?.distributor_discount) /
                                          100) *
                                          item?.booked_total_qty -
                                        ((item?.unit_price *
                                          item?.special_discount) /
                                          100) *
                                          item?.booked_total_qty
                                    }}
                                  </td>
                                  <!--Net.Amt -->
                                </tr>
                                <tr>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td><strong>Gross PKR.</strong></td>
                                  <td>
                                    <strong>{{ totalGrossAmt }}</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td><strong>Discount PKR.</strong></td>
                                  <td>
                                    <strong>
                                      <!-- t.o + dist disc% + spc dist + b dist -->
                                      -{{ totalDiscount }}</strong
                                    >
                                  </td>
                                </tr>
                                <tr>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td><strong>Frieght Price PKR.</strong></td>
                                  <td><strong>0.00</strong></td>
                                </tr>
                                <tr>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td><strong>Tax PKR.</strong></td>
                                  <td>
                                    <strong>{{ totalTax }}</strong>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td class="border-0"></td>
                                  <td
                                    style="background-color: #000; color: #fff"
                                  >
                                    <strong>Total PKR.</strong>
                                  </td>
                                  <td
                                    style="background-color: #000; color: #fff"
                                  >
                                    <strong>{{ totalPkr }}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="clearfix"></div>
                          </div>

                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--
      <div class="modal-footer button-list"> 
	 <button type="button" class="btn btn-primary btn-outline"><i class="fa fa-file-pdf"> </i> <span> Save PDF</span>  </button> <button type="button" class="btn btn-primary btn-outline">  <i class="fa fa-envelope"> </i> <span> Send Email</span>  </button> <button type="button" class="btn btn-primary btn-outline"><i class="fa fa-print"></i> <span> Print</span>  </button> 

      </div>
-->
    </div>
  </div>
</div>

<!-- Order Booked -->
<div id="content-wrapper">
  <div id="blureEffct" class="container-fluid">
    <div class="overlay-blure"></div>
    <div class="container">
      <div class="row mt-2 mb-3">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2 class="_head01">Order <span> Management</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <ol class="breadcrumb">
            <li>
              <a href="#"><span>Order Management</span></a>
            </li>
            <li><span>Booked Orders</span></li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h2>Booked <span> Orders List</span></h2>
            </div>
            <div class="body PT-15">
              <div id="floating-label">
                <div class="form-wrap p-0">
                  <div class="row">
                    <div class="col-md-12">
                      <table
                        datatable
                        [dtOptions]="dtOptions"
                        *ngIf="!loading"
                        class="table table-hover dt-responsive nowrap"
                        id="primaryOrdersId"
                        style="width: 100%"
                      >
                        <thead>
                          <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Distributor</th>
                            <th>Employee</th>
                            <th>Order Total</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of primaryOrders">
                            <td>{{ order.id }}</td>
                            <td>{{ order.created_at }}</td>
                            <td>{{ order.distributor_name }}</td>
                            <td>{{ order.employee_name }}</td>
                            <td>{{ order.order_total }}</td>
                            <td>
                              <button
                                type="button"
                                (click)="onOrderDetail(order.id)"
                                data-toggle="modal"
                                data-target="#exampleModal"
                                class="btn btn-default btn-line"
                              >
                                Detail
                              </button>
                              <button class="btn btn-default">Dispatch</button>
                              <button
                                class="btn btn-default"
                                [routerLink]="['edit', order.id]"
                              >
                                Edit
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div *ngIf="loading" class="col-md-12">
                        <app-loader-white></app-loader-white>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            2019 Sell3sixty All rights reserved
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
